.loginpage {
    margin: 100px auto;
    height: 50vh;
    width: 750px;
    background-color: var(--color-background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginform {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

#loginSubmit {
    margin: 10px 0 0 auto;
    /*align-self: flex-end;*/
    /*margin-left: auto;*/
}