.headerLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wordLid {
    background-color: turquoise;
    width: 130px;
    height: 50px;
    rotate: -3deg;
    margin: 30px;
    font-family: var(--font-main);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-copy);

}

.wordLid:hover {
    width: 137px;
    height: 53px;
    cursor: pointer;
}

.plusIcon {
    margin-left: 7px;
}